.header {
  text-align: center;
  background-color: #483d8b;
  color: white;
  position: sticky; }

.gameCard {
  max-width: 500;
  max-height: 500; }

.gameCard__container {
  display: flex;
  flex-wrap: wrap; }
